body {
  font-family: "Luckiest Guy", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
header {
  display: flex;
  background-image: url("../assets/Header Background (2).png");
  flex-direction: column;
}

.header-content {
  margin: 0px 40px 15px 40px;
}

p {
  font-family: "Open Sans", sans-serif;
}

button {
  border-radius: 28px;
  margin: 0px 40px 15px 40px;
}

button.btn-download {
  background-color: #23272a;
  color: #fff;
}

button.btn-browser {
  background-color: #fff;
}
